body {
    padding-top: 15px;
    color: white;
    background-color: rgb(35, 35, 35);
}

.page-head {
    text-align: center;
    font-size: 5vmax;
}

.pure-button {
    background-color: rgb(85, 85, 85);
}

.button-secondary {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    background: rgb(65, 65, 65);
}

.filter-controls {
    text-align: center;
}

.project {
    margin: 10px 10% 10px 10%;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    color: white;
    width: 80%;
}

.project-right-column {}

.project-title,
.project-thumb,
.project-desc {
    margin: 0;
}

.project-title {
    font-size: 4vmax;
}

.project-thumb {
    border-style: solid;
    border-width: 0;
    border-bottom-width: 3px;
    width: 50%;
    object-position: center;
    object-fit: cover;
}

.project-desc {
    padding: 5px;
}

@media screen and (min-width: 48em) {

    .project {
        margin: 10px;
        width: auto;
    }
    
    .project-thumb {
        border-style: solid;
        border-width: 0;
        border-right-width: 3px;
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
    
}